$desktop:600px;
$primary1:hsl(158, 36%, 37%);
$primary2:hsl(30, 38%, 92%);
$neutral1:hsl(212, 21%, 14%);
$neutral2:hsl(228, 12%, 48%);
$neutral3:hsl(0, 0%, 100%);
$font-size:14px;
$font-weight:(
    "medium": 500,
    "bold":700
);
$font-family1:'Montserrat', sans-serif;
$font-family2: 'Fraunces', serif;