@import "./variable";

@function weight($weight-name){
    @return map-get($font-weight, $weight-name);
}

@mixin body(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

@mixin mainCenter($direction){
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction:$direction;
    margin: auto;

    width:100%;
    height:100%;
}

@mixin sectionCenter($direction){
    flex-direction:$direction;
    display: flex;
    justify-content: left;
    align-items: left;
    margin:auto;
    width:100%;
    height:100%;

}

@mixin mainBackground(){
    background-color: $neutral3;
    border-radius: 20px;
}

body{
    @include body();
    background-color: $primary2;
}

main{
    @include mainCenter(column);
    @include mainBackground();
}

img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:90vw;
}

.cart{
    height:25px;
    width: 25px;
}

h1{
    margin-top: 30px;
    color:$neutral2;
    font-size: 17px;
    font-family: $font-family1;
    font-weight:weight(medium);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-left: 30px;
    margin-bottom: -10px;
}

h2{
    font-size:40px;
    font-family: $font-family2;
    font-weight:weight(bold);
    margin-left: 30px;
    margin-right: 30px;
}

.paragraph{
    color:$neutral2;
    font-size: $font-size;
    font-family: $font-family1;
    margin-left: 30px;
    margin-right: 40px;
    line-height: 2rem;
    margin-top: -10px;
}

section{
    @include sectionCenter(row);
}

.new{
    margin-left:30px;
    color:$primary1;
    font-family: $font-family2;
    font-size: 40px;
    font-weight:weight(bold);
}

.old{
    margin-left:30px;
    margin-top:55px;
    font-family:$font-family1;
    color:$neutral2;
    font-weight:weight(bold);
    text-decoration: line-through;
}

button{
    background-color: $primary1;
    border:none;
    border-radius: 15px;
    width: 80vw;
    height: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
    color:$neutral3;
    font-weight: weight(bold);
    font-family: $font-family1;
    font-size: 17px;
    
    &:hover{
        cursor: pointer;
    }
}