@import "./variable";

@function weight($weight-name){
    @return map-get($font-weight, $weight-name);
}

@mixin body(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   }

@mixin mainCenter($direction){
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction:$direction;
    margin: auto;

    width:100%;
    height:100%;
}

@mixin buttonCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:$direction;
    margin: auto;
    width:90%;
    height:100%;
    background-color: $primary1;
    border:none;
    border-radius: 15px;
    margin-left: 15px;
    margin-bottom: 60px;
    margin-top: -25px;
    color:$neutral3;
    font-weight: weight(bold);
    font-family: $font-family1;
    font-size: 17px;
}

@mixin sectionCenter($direction){
    flex-direction:$direction;
    display: flex;
    justify-content: left;
    align-items: left;
    margin:auto;
    width:100%;
    height:100%;
    margin-top: -40px;
}

@mixin mainBackground(){
    background-color: $neutral3;
    border-radius: 20px;
    max-width: 343px;
    max-height: 611px;
}
@mixin desktop(){
    @media(min-width:800px){
        @content;
    }
}

body{
    @include body();
    background-color: $primary2;
}

main{
    @include mainCenter(column);
    @include mainBackground();
    padding-bottom: 20px;
    @include desktop(){
    
        @include mainCenter(row);
        height:420px;
        max-width:600px;
        margin-top: 60px;
}
}

.text{
    width:330px;
    margin-bottom: -50px;
    @include desktop(){
        @include mainCenter(column);
        max-width: 350px;
    }
}

.image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%; //90vw
    //height: 200rem;
    background-image: url("/images/image-product-mobile.jpg");
    background-size:cover;
    margin-top: -70px;
    
    @include desktop(){
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
       width: 550px;
       height:440px;
       margin-top: 1px;
       background-image: url("/images/image-product-desktop.jpg");
           

    }
}

h1{
    margin-top: 30px;
    color:$neutral2;
    font-size: 15px;
    font-family: $font-family1;
    font-weight:weight(medium);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-left: 30px;
    margin-bottom: -10px;
    @include desktop(){
        margin-top: 90px;
    }
}

h2{
    font-size:30px;
    font-family: $font-family2;
    font-weight:weight(bold);
    margin-left: 30px;
    margin-right: 30px;
    @include desktop(){
        font-size: 33px;
    }
}

.paragraph{
    color:$neutral2;
    font-size: $font-size;
    font-family: $font-family1;
    margin-left: 30px;
    margin-right: 40px;
    line-height: 2rem;
    margin-top: -10px;

    @include desktop(){
        line-height: 1.5rem;
    }
}

section{
    @include sectionCenter(row);
    @include desktop(){
        margin-top: -30px;
    }
}

.new{
    margin-left:30px;
    color:$primary1;
    font-family: $font-family2;
    font-size: 32px;
    font-weight:weight(bold);
}

.old{
    margin-left:30px;
    margin-top:55px;
    font-family:$font-family1;
    color:$neutral2;
    font-weight:weight(bold);
    text-decoration: line-through;
}

.button{
    @include buttonCenter(row);
    width: 300px;
    height: 60px;

    
    #{&}_cart{
            margin-right:15px;
            height:25px;
            width: 25px;
        
    }

    &:hover{
        cursor: pointer;
    }
    @include desktop(){
        width: 280px;
        margin-left: 15px;
        height: 120px;
        padding-top:10px;
        padding-bottom: 10px;
        margin-top: -3px;
    }
}
footer{
    margin-top: 50px;
}